[Unit]
Description=VPNM Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/vpnbot
Environment=PYTHONUNBUFFERED=1
ExecStart=/root/vpnbot/.venv/bin/python /root/vpnbot/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
